package handler

{{ range $params := seq 2 .max_params -}}
{{ $seq := seq 1 $params -}}
// Variant of try with {{$params}} non-error arguments
func Try{{$params}}[{{ mapTpl "T{{.}} any" $seq | join ", "}}]({{ mapTpl "p{{.}} T{{.}}" $seq | join ", "}}, err error) ({{ mapTpl "T{{.}}" $seq | join ", "}}) {
	if err != nil {
		panic(tryError{err})
	}
	return {{ mapTpl "p{{.}}" $seq | join ", "}}
}
{{ end }}