package handler

{{ range $n := seq 2 (int .max) -}}
{{ $seq := seq 1 $n -}}
// Variant of try with {{$n}} non-error arguments
func Try{{$n}}[{{ tplMap "T{{.}} any" $seq | join ", "}}]({{ tplMap "p{{.}} T{{.}}" $seq | join ", "}}, err error) ({{ tplMap "T{{.}}" $seq | join ", "}}) {
	if err != nil {
		panic(tryError{err})
	}
	return {{ tplMap "p{{.}}" $seq | join ", "}}
}

{{ end }}
